*, *::after, *::before{
    box-sizing: border-box;
}

.head-text {
    position: relative;
 }
 .text-on-image {
   position: absolute;
   right: 30%;
   left: 10%;
   bottom: 20%;
   color: red;
 }

 img{
    max-width: 100%;
 }